.tile {
    /* border: 1px solid aqua; */
    background-color: #00000000;
}

#tileContainer {
    /* background-image: url(img/TkTPELv4kC3u1lkloush8skOjE.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    height: 700px;
    width: 500px;
    
}
 figcaption {
     display: none;
 }

 